@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.app-header {
  background: #fff;
  position: relative;
}
.searchInput {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 16px;
}
.loadingContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* 写这么高我也很无奈, antd 有部分的 zindex 很高 */
  z-index: 9999; 
  background: rgba(0,0,0,0.2);
}
.loadingContainer .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
chor-ink::before {
  background: #e8e8e8;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
